score {
    position: absolute;
    top     : 0;
    display : flex;
    width   : 100%;

    h2 {
        padding-inline: 1em;
        margin-left   : auto;
        font-size     : 3rem;
        color         : green;
    }
}