block {
    display     : grid;
    place-items : center;
    --blockWidth: 5vmin;
    --offsetX   : 0;
    --offsetY   : 0;
    width       : var(--blockWidth);
    aspect-ratio: 1;
    translate   : var(--offsetX) var(--offsetY);

    &.color--a {
        background-color: azure;
    }

    &.color--b {
        background-color: burlywood;
    }

    &.color--c {
        background-color: cornflowerblue;
    }

    &.color--d {
        background-color: darkgoldenrod;
    }

    &.color--e {
        background-color: floralwhite;
    }

    &.color--f {
        background-color: forestgreen;
    }

    &.color--g {
        background-color: goldenrod;
    }

    &.color--h {
        background-color: honeydew;
    }

    &.color--i {
        background-color: ivory;
    }

    &.color--j {
        background-color: jochryblue;
    }

    &.color--k {
        background-color: khaki;
    }

    &.color--l {
        background-color: lemonchiffon;
    }

    &.color--m {
        background-color: mediumaquamarine;
    }

    &.color--n {
        background-color: navajowhite;
    }

    &.color--o {
        background-color: oldlace;
    }

    &.color--p {
        background-color: papayawhip;
    }

    &.color--q {
        background-color: powderblue;
    }

    &.color--r {
        background-color: rosybrown;
    }

    &.color--s {
        background-color: seashell;
    }

    &.color--t {
        background-color: thistle;
    }

    &.color--u {
        background-color: tan;
    }

    &.color--v {
        background-color: violet;
    }

    &.color--w {
        background-color: wheat;
    }

    &.color--x {
        background-color: yellowgreen;
    }

    &.color--y {
        background-color: yellowgreen;
    }

    &.color--z {
        background-color: lightpink;
    }
}