body {
    background-color: black;
    perspective     : 1000px;
    overflow        : hidden;

    h1 {
        opacity         : .5;
        color           : green;
        font-size       : 7rem;
        position        : absolute;
        text-align      : center;
        transform       : rotateX(40deg) translateY(70vh);
        transform-origin: center bottom;
        width           : 100%;
    }
}